main{
    background: transparent;
    padding-top: 0;
    box-shadow: none;
}

 main figure img{
    background-color:rgba(168, 143, 106, 0.5) ;
    
 }

 main figure {
    margin: 0px;
    display: flex;  
    justify-content: center; /* centra horizontal */
    align-items: center;
 }

 main h2 {

    background: transparent;
    text-align: center;
    font-size: 80px;
    
 }


body {
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 1);

  background: linear-gradient(rgba(129, 149, 57, 0.6)),
                url(../img/Imagen\ de\ WhatsApp\ 2025-08-25\ a\ las\ 16.06.56_569d6f89.jpg) top center no-repeat;
  background-size: cover;     
  background-position: center; 
  background-repeat: no-repeat; 
}

.botones_inicio {
    float: right;
    margin-top: 0.7em;
}

.botones_inicio a {
    display: inline-block;        
    width: 120px;                 
    text-align: center; 
    background-color: #181f0d;
    color: white;
    border: 3px solid #181f0d;
    border-radius: 15px;
    padding: 10px;
    margin:5px 0px;

    cursor: pointer;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}

.botones_inicio a:hover {
    background-color: #435801;
    border: 3px solid #181f0d;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}

main article {
    background: linear-gradient(rgba(84, 111, 1, 0.7));
    padding: 15px;
    margin: 0px;
    
}

#art_corto{
    text-align: center;
    background: transparent;
}

#art_corto p {
    font-size: 50px;
    font-weight: 900;
    color: rgba(255, 255, 255, 1);
}

#art_largo p{
    text-align: center;
    font-size: 35px;
}
