/*---------------------------css de la pagina de nodos_sensores---------------------------*/

main section {
    background: linear-gradient(rgba(84, 111, 1, 0.7)) ,url(../img/vaca_nodo_sensores.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px 20px 60px 20px;
}

main section h2 {
    text-align: left;
    text-decoration: underline;
    font-size: 75px;
    color: rgb(255, 255, 255);
    margin: 0px;
    margin-bottom: 10px;
    padding: 10px;
}

/* ---------------- BOTONES GENERALES ---------------- */
.botones_link, .agre_modi a, .btn-eliminar, .btn-agregar, .btn-modificar {
    display: inline-block;        
    width: 130px;   /* mismo ancho */
    height: 50px;   /* misma altura */
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    line-height: 25px; /* centra texto */
    background-color: #546f01;
    color: white;
    border: 3px solid #414e2c;
    border-radius: 15px;
    margin: 5px 0px;
    cursor: pointer;
    vertical-align: middle;
    font-weight: bold;
}

/* Hover base */
.botones_link:hover, .agre_modi a:hover {
    background-color: #678600;
    border-color: #678600;
}

/* ---------------- BOTONES ESPECIALES ---------------- */

/* Agregar y Modificar */
.btn-agregar, .btn-modificar {
    background-color: #2a6f2b; /* verde elegante */
    border-color: #2a6f2b;
    padding-top: 12px;
}
.btn-agregar:hover, .btn-modificar:hover {
    background-color: #3fa64a; /* verde más claro */
}

/* Eliminar */
.btn-eliminar {
    background-color: #7a1f1f;
    border-color: #7a1f1f;
}
.btn-eliminar:hover {
    background-color: red;
    color: white;
}

/* ---------------- INPUTS Y SELECTS ---------------- */
main section select, 
main section input {
    padding: 10px;
    border-radius: 15px;
    border: 3px solid rgb(88, 88, 88);
    width: 230px;
    margin-right: 10px;
    vertical-align: middle;
}

/* ---------------- TABLA ---------------- */
#tabla_sensores {
    width: 100%;
    border: 2px solid black;
    text-align: center;
    border-collapse: collapse;
}

#tabla_sensores thead tr {
    background: #436113;
    border: 2px solid black;
    color: white;
}

#tabla_sensores tr td {
    border: 2px solid black;
    color: white;
    background-color: rgba(58, 58, 58, 0.7);
    padding: 0px;
}

#tabla_sensores tbody tr:hover {
    background: #406e2e;
    color: white;
}

/* La tabla visible con 15 filas sin scroll */
.tabla-container {
    max-height: none;   /* quitamos límite de altura */
    overflow-y: visible;
}

/* Si aún querés mantener altura fija para 15 filas exactas: */
#tabla_sensores tbody tr {
    height: 40px;  /* cada fila tendrá altura uniforme */
}
