{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}GreenWeb{% endblock title %}</title>
    
    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/GreenWebSinFondo.png' %}" type="image/x-icon">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    {% block extra_head %}{% endblock %}
</head>
<body>
    
    <!-- Header -->
    <header>
        <div class="header_container">
            <div class="logo">
                <img src="{% static 'img/GreenWebSinFondo.png' %}" alt="Logo GreenWeb">
            </div>

            <h1>GreenWeb</h1>

            <div class="user-info">
                {% if user.is_authenticated %}
                    <p>
                        {{ user.username }}
                        <button>Ver mi perfil</button>
                    </p>

                    <button><a href="{% url 'usuario:cerrar_sesion' %}">Cerrar sesión</a></button>
                    </a>
                {% else %}
                        <button>Login</button>
                    </a>
                        <button>Registrarse</button>
                    </a>
                {% endif %}
            </div>
        </div>        
        
        <nav class="navbar">
            <a href="{% url 'usuario:home' %}">Home</a>

            <div class="dropdown">
                <a href="#">
                    Administración
                    {% if solicitudes_pendientes > 0 %}
                        <span class="contador">{{ solicitudes_pendientes }}</span>
                    {% endif %}
                    ▾
                </a>
                <div class="dropdown-content">
                    <a href="#">Establecimiento</a>

                    {% if user.is_authenticated %}
                        {% if user.id_rol.nombre_rol == "Administrador" or user.is_superuser %}
                            <a href="#">Empleados</a>
                            <a href="{% url 'usuario:ver_solicitudes_union' %}">
                                Ver solicitudes
                                {% if solicitudes_pendientes > 0 %}
                                    <span class="contador">{{ solicitudes_pendientes }}</span>
                                {% endif %}
                            </a>
                        {% elif user.id_rol.nombre_rol == "Empleado" %}
                            <a href="#" class="disabled">Empleados</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>

            <div class="dropdown">
                <a href="#">Nodos sensores ▾</a>
                <div class="dropdown-content">
                    <a href="{% url 'nodo:lista_nodos' %}">Ver collares</a>
                    <a href="#">Ver lecturas</a>
                    <a href="#">Mapa de calor</a>
                </div>
            </div>
        </nav>
    </header>

    <!-- Contenido dinámico -->
    <main>
        {% block content %}
        <!-- Aquí se inyectan las páginas hijas -->
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <div class="container_footer">
            <div class="logo-titulo_footer">
                <img class="imagen_footer" src="{% static 'img/GreenWebSinFondo.png' %}" alt="Logo GreenWeb">
                <h2>GreenWeb</h2>
            </div>

            <div class="datos_footer">
                <div class="nombres">
                    <p>
                        Espinoza Guillermo. <br>
                        Caviedes Estrada Joaquin. <br>
                        Cirione Erik. <br>
                        Maidana Alejo.
                    </p>
                </div>
                <div class="mails">
                    <a href="mailto:guilleespinozagonz@gmail.com" class="mail"> guilleespinozagonz@gmail.com</a> <br>
                    <a href="mailto:joaquincaviedes3@gmail.com" class="mail"> joaquincaviedes3@gmail.com</a> <br>
                    <a href="mailto:erikcirione@gmail.com" class="mail"> erikcirione@gmail.com</a> <br>
                    <a href="mailto:alejomaidana29@gmail.com" class="mail"> alejomaidana29@gmail.com</a>
                </div>
                <div class="whatsapp">
                    <img src="{% static 'img/whatsapp.png' %}" alt="whatsapp" class="logo_wsp"> +54 383 4627731 <br>
                    <img src="{% static 'img/whatsapp.png' %}" alt="whatsapp" class="logo_wsp"> +54 383 4238214 <br>
                    <img src="{% static 'img/whatsapp.png' %}" alt="whatsapp" class="logo_wsp"> +54 383 5513938 <br>
                    <img src="{% static 'img/whatsapp.png' %}" alt="whatsapp" class="logo_wsp"> +54 383 4390834 <br>
                </div>
                <div class="instagrams">
                    <a href="https://www.instagram.com/guilleespinoza_/">
                        <img src="{% static 'img/instagram.png' %}" alt="ig" class="logo_wsp">
                    </a> <br>
                    <a href="https://www.instagram.com/joaquincaviedes_es/">
                        <img src="{% static 'img/instagram.png' %}" alt="ig" class="logo_wsp">
                    </a> <br>
                    <a href="https://www.instagram.com/erik.cirione/">
                        <img src="{% static 'img/instagram.png' %}" alt="ig" class="logo_wsp">
                    </a> <br>
                    <a href="https://www.instagram.com/alejomaidana.ok/">
                        <img src="{% static 'img/instagram.png' %}" alt="ig" class="logo_wsp">
                    </a>
                </div>
            </div>
        </div>

        <div class="copyright">
            <small>Todos los derechos reservados &copy; 2025 GreenWeb - Proyecto IoT y Ciencia de Datos</small>
        </div>
    </footer>

    <!-- JS -->
    <script src="{% static 'js/validaciones.js' %}"></script>
</body>
</html>