<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario-Persona-2</title>

    <link rel="stylesheet" href="/aplicacion web INTA/front-end/static/css/formulario-persona.css">
</head>
<body>
    <div id="cont-form">
        <form action="#" method="post" id="formulario-2">
            <fieldset>
                <legend>Usuario</legend>

               
                <label for="cuig">Ingrese el cuig del establecimiento: </label>
                <input type="text" name="apellido" id="cuig" maxlength="15"
                        placeholder="Sin espacios o Guiones" tabindex="1"> <br>

                <label for="usuario">Cree su nombre de usuario: </label>
                <input type="text" name="usuario" id="usuario" maxlength="15"
                        placeholder="Nombre de Usuario" tabindex="2"> <br>

                <label for="password">Cree su contraseña: </label>
                <input type="text" name="password" id="password" maxlength="15"
                        placeholder="Contraseña" tabindex="7"> <br>
                
                <div id="botones">
                    <a href="formulario-usuario-1.html" class="boton-atras"> Atras</a>

                    <input type="submit" value="Enviar" tabindex="3">
                </div>
                
            </fieldset>
        </form>
    </div>

    <script src="/aplicacion web INTA/front-end/static/js/formulario-2.js"></script>
</body>
</html>