body{
    background: linear-gradient(rgba(129, 149, 57, 0.6)),url(../img/Imagen\ de\ WhatsApp\ 2025-08-25\ a\ las\ 16.06.56_569d6f89.jpg) top center no-repeat;
    background-size: cover;
}

main {
    background: none;
    box-shadow: none;
}

#registrarse{
    width: 100%;
    margin: 0px auto;
    margin-left: 1%;

    transition: transform  0.3s ease, background 0.3s ease, color 0.3s ease;
}

#registrarse fieldset{
    background-color: rgba(164, 188, 0, 0.5);
    
    border-radius: 10px;
    border: 3px solid rgba(164, 188, 0, 0.5);;
    padding: 20px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.6);

}

input[type="file"]{
    display: none;
}