{% extends "base/base.html" %}
{% load static %}

{% block title %}Nodos Sensores - GreenWeb{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/nodo_sensores_administracion.css' %}">
{% endblock %}

{% block content %}
    <section>
        <h2>Nodos Sensores</h2>

        <div class="agre_modi">
            <a href="{% url 'nodos:crear_nodo' %}">Agregar Nodo</a>
            <a href="#">Modificar Nodo</a>
        </div>

        <br><br>
        <button class="botones_link">Buscar Nodo</button>
        
        <select name="sel_especie" id="sel_especie">
            <option value="" disabled selected hidden>Seleccione la especie</option>
            <option value="ovino">Ovino</option>
            <option value="bovino">Bovino</option>
        </select>

        <select name="sel_raza" id="sel_raza">
            <option value="" disabled selected hidden>Seleccione la raza</option>
            <option value="raza1">Raza 1</option>
            <option value="raza2">Raza 2</option>
        </select>

        <button class="botones_link" id="boton_eliminar">Eliminar Nodo</button>
        <br><br>

        <input type="text" name="identificador_nodo" id="identificador_nodo" placeholder="ID del nodo">
        <button class="botones_link">Seguir Nodo</button>
        
        <br><br>

        <div class="tabla-container">
            <table id="tabla_sensores">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Especie</th>
                        <th>Raza</th>
                        <th>Estado</th>
                        <th>Defectuoso</th>
                    </tr>
                </thead>
                <tbody>
                    {% for nodo in nodos %}
                    <tr>
                        <td>{{ nodo.id_nodo }}</td>
                        <td>{{ nodo.id_especie }}</td> <td>{{ nodo.id_raza }}</td> <td>{{ nodo.activo|yesno:"Activo,Inactivo" }}</td>
                        <td>{{ nodo.defectuoso|yesno:"Sí,No" }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5">No hay nodos registrados.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}