{% extends "base/base.html" %}
{% load static %}

{% block title %}Crear establecimiento - GreenWeb Catamarca{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/crear_establecimiento.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="titulo">Registrar nuevo establecimiento <i>particular</i></h2>
        <form method="POST" class="formulario">
            {% csrf_token %}

            <p>
                <label>Nombre del establecimiento:</label>
                <input type="text" name="nombre" required>
            </p>

            <p>
                <label>Provincia:</label>
                <input type="text" name="provincia" required>
            </p>
            
            <p>
                <label>Departamento:</label>
                <input type="text" name="departamento" required>
            </p>
            
            <p>
                <label>Localidad:</label>
                <input type="text" name="localidad" required>
            </p>
            
            <p>
                <label>Dirección:</label>
                <input type="text" name="direccion" required>
            </p>

            <button type="submit">Crear establecimiento</button>
            
        </form>
    </div>
{% endblock %}
