{% extends "base/base.html" %}
{% load static %}

{% block title %}Inicio - GreenWeb Catamarca{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}

<article class="informacion_usuario">
    <h2 class="saludo">Bienvenido a GreenWeb Catamarca 
        {% if user.is_authenticated %}
            "<i>{{ user.nombre }} {{ user.apellido }}</i>"
        {% endif %}
    </h2>
    <p>
        {% if user.is_authenticated %}
            {% if user.CUIG %}
                Establecimiento: {{ user.CUIG.nombre }}
            {% else %}
                Establecimiento: <i>No perteneces a ningún establecimiento</i>
                <div class="opciones_establecimiento">
                    <a href="{% url 'usuario:crear_establecimiento' %}">Crear establecimiento propio</a>
                    <a href="{% url 'usuario:unirse_establecimiento' %}">Unirse a un establecimiento</a>
                    <a href="{% url 'usuario:crear_establecimiento' %}">Crear establecimiento inscripto en SENASA</a>
                    {% comment %} solicitar_establecimiento {% endcomment %}
                </div>
                
            {% endif %}
            <br>
            Rol dentro del establecimiento: <i>{{ user.id_rol }}</i>
        {% endif %}
    </p>
</article>

<section>
    <p>
        La integración del <strong>Internet de las cosas (IoT)</strong> y <strong>Ciencia de Datos</strong> 
        en la agricultura y ganadería de la región permite mejorar la 
        sostenibilidad, aumentar la productividad y optimizar recursos.
    </p>
</section>

<section class="sobre_greenweb">
    <h3>¿Qué hacemos?</h3>
    <div class="cards">
        <div class="card">
            <img src="{% static 'img/COLLAR-GPS-1-400x300.jpg' %}" alt="Sensores IoT">
            <h4>Nodos Sensores</h4>
            <p>Capturan datos precisos del suelo, clima y ganado.</p>
        </div>
        <div class="card">
            <img src="{% static 'img/ciencia_de_datos.webp' %}" alt="Ciencia de datos">
            <h4>Ciencia de Datos</h4>
            <p>Procesamos información para tomar decisiones inteligentes.</p>
        </div>
        <div class="card">
            <img src="{% static 'img/produccion_ganadera.jpeg' %}" alt="Producción ganadera">
            <h4>Productividad</h4>
            <p>Optimización de procesos para aumentar la calidad y producción.</p>
        </div>
    </div>
</section>
{% endblock %}
