

{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión - GreenWeb</title>
    <link rel="icon" href="{% static 'img/GreenWebSinFondo.png' %}" type="image/x-icon">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/usuario.css' %}">
</head>
<body>
    <div class="container_div">
        <header class="header">
            <div class="logo-titulo_header">
                <img class="imagen_header" src="{% static 'img/GreenWebSinFondo.png' %}" alt="Logo GreenWeb">
                <h2>GreenWeb</h2>
            </div>
            <div class="eslogan">
                <p>
                    “Del campo al dato con un solo código, utilizando trazabilidad inteligente para una gestión eficiente”
                </p>
            </div>
            <!-- Botones de inicio -->
            <div class="botones_inicio">
                <a href="{% url 'usuario:index' %}">Inicio</a> 
                <a href="{% url 'usuario:registrar_usuario' %}">Registrarse</a>
            </div>
        </header>

        <div class="registrarse">
            <h2>Iniciar sesión</h2>
        </div>

        <div class="container_login">

            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <div class="container_form">
                <form method="POST" class="form_usuario">
                    {% csrf_token %}
                    <p>
                        <label for="username">Usuario:</label>
                        <input type="text" id="username" name="username" required>
                    </p>

                    <p>
                        <label for="password">Contraseña:</label>
                        <input type="password" id="password" name="password" required>
                    </p>


                    <button type="submit">Iniciar sesión</button>
                </form>

                <div class="btns_aux_registrar">
                    <p>¿No tenés cuenta? <i><a href="{% url 'usuario:registrar_usuario' %}">Registrate</a></i>
                    </p>
                    <p><i><a href="{% url 'index' %}">Volver al inicio</a></i>
                    </p>
                </div>
            </div>

        </div>
    </div>

    <!-- Footer -->
    <footer>
        <div class="container_footer">
            <div class="logo-titulo_footer">
                <img class="imagen_footer" src="{% static 'img/GreenWebSinFondo.png' %}" alt="Logo GreenWeb">
                <h2>GreenWeb</h2>
            </div>

            <div class="datos_footer">
                <div class="nombres">
                    <p>
                        Espinoza Guillermo. <br>
                        Caviedes Estrada Joaquin. <br>
                        Cirione Erik. <br>
                        Maidana Alejo.
                    </p>
                </div>
                <div class="mails">
                    <a href="mailto:guilleespinozagonz@gmail.com" class="mail"> guilleespinozagonz@gmail.com</a> <br>
                    <a href="mailto:joaquincaviedes3@gmail.com" class="mail"> joaquincaviedes3@gmail.com</a> <br>
                    <a href="mailto:erikcirione@gmail.com" class="mail"> erikcirione@gmail.com</a> <br>
                    <a href="mailto:alejomaidana29@gmail.com" class="mail"> alejomaidana29@gmail.com</a>
                </div>
                <div class="whatsapp">
                    <img src="{% static 'img/whatsapp.png' %}" alt="whatsapp" class="logo_wsp"> +54 383 4627731 <br>
                    <img src="{% static 'img/whatsapp.png' %}" alt="whatsapp" class="logo_wsp"> +54 383 4238214 <br>
                    <img src="{% static 'img/whatsapp.png' %}" alt="whatsapp" class="logo_wsp"> +54 383 5513938 <br>
                    <img src="{% static 'img/whatsapp.png' %}" alt="whatsapp" class="logo_wsp"> +54 383 4390834 <br>
                </div>
                <div class="instagrams">
                    <a href="https://www.instagram.com/guilleespinoza_/">
                        <img src="{% static 'img/instagram.png' %}" alt="ig" class="logo_wsp">
                    </a> <br>
                    <a href="https://www.instagram.com/joaquincaviedes_es/">
                        <img src="{% static 'img/instagram.png' %}" alt="ig" class="logo_wsp">
                    </a> <br>
                    <a href="https://www.instagram.com/erik.cirione/">
                        <img src="{% static 'img/instagram.png' %}" alt="ig" class="logo_wsp">
                    </a> <br>
                    <a href="https://www.instagram.com/alejomaidana.ok/">
                        <img src="{% static 'img/instagram.png' %}" alt="ig" class="logo_wsp">
                    </a>
                </div>
            </div>
        </div>

        <div class="copyright">
            <small>Todos los derechos reservados &copy; 2025 GreenWeb - Proyecto IoT y Ciencia de Datos</small>
        </div>
    </footer>
</body>
</html>
