
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreenWeb</title>
    <link rel="icon" href="{% static 'img/GreenWebSinFondo.png' %}" type="image/x-icon">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/usuario.css' %}">
</head>
<body>
    <div class="container_div">
        <header class="header">
            <div class="logo-titulo_header">
                <img class="imagen_header" src="{% static 'img/GreenWebSinFondo.png' %}" alt="Logo GreenWeb">
                <h2>GreenWeb</h2>
            </div>
            <div class="eslogan">
                <p>
                    “Del campo al dato con un solo código, utilizando trazabilidad inteligente para una gestión eficiente”
                </p>
            </div>
            <!-- Botones de inicio -->
            <div class="botones_inicio">
                <a href="{% url 'usuario:index' %}">Inicio</a> 
                <a href="">Iniciar Sesión</a>
            </div>
        </header>

        <div class="container_registrarse">
            <h2>Registrarse</h2>

            <form method="post" class="form_usuario">
                {% csrf_token %}
                
                {{ form.as_p }}  <!-- Esto renderiza todos los campos con <p> -->
                
                <div class="button-group">
                    <button type="reset" class="cancelar">Cancelar</button>
                    <button type="submit" class="aceptar">Aceptar</button>
                </div>
            </form>
        </div>


        {% comment %} <div class="container_registrarse">
            <h2>Registrarse</h2>

            <form action="#" method="post" class="form_usuario">
                {% csrf_token %}
                <div class="form-section">
                    <h2>Datos de usuario</h2>
                    
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input type="text" id="nombre" name="nombre">
                    </div>
                    <div class="form-group">
                        <label for="apellido">Apellido:</label>
                        <input type="text" id="apellido" name="apellido">
                    </div>
                    <div class="form-group">
                        <label for="cuit">CUIT:</label>
                        <input type="text" id="cuit" name="cuit">
                    </div>
                    <div class="form-group">
                        <label for="telefono">Teléfono:</label>
                        <input type="text" id="telefono" name="telefono">
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="rol">Rol:</label>
                        <select id="rol" name="rol">
                            <option value="administrador">Administrador</option>
                            <option value="empleado">Empleado</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="nombre_usuario">Nombre de usuario:</label>
                        <input type="text" id="nombre_usuario" name="nombre_usuario">
                    </div>
                    <div class="form-group">
                        <label for="contrasena">Contraseña:</label>
                        <input type="password" id="contrasena" name="contrasena">
                    </div>
                    <div class="form-group">
                        <label for="repetir_contrasena">Repetir contraseña:</label>
                        <input type="password" id="repetir_contrasena" name="repetir_contrasena">
                    </div>
                </div>

                <div class="form-section">
                    <h2>Datos del establecimiento</h2>
                    
                    <div class="form-group search-group">
                        <label for="cuig">CUIG:</label>
                        <input type="text" id="cuig" name="cuig">
                        <button type="button">Buscar</button>
                    </div>
                    <div class="form-group">
                        <label for="nombre_establecimiento">Nombre del establecimiento:</label>
                        <select id="nombre_establecimiento" name="nombre_establecimiento">
                            <option value="ovejas_negras">Ovejas negras</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="provincia">Provincia:</label>
                        <select id="provincia" name="provincia">
                            <option value="catamarca">Catamarca</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="departamento">Departamento:</label>
                        <select id="departamento" name="departamento">
                            <option value="tinogasta">Tinogasta</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="localidad">Localidad:</label>
                        <select id="localidad" name="localidad">
                            <option value="capital">San Fernando del Valle de Catamarca</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="direccion">Dirección:</label>
                        <input type="text" id="direccion" name="direccion">
                    </div>
                    <div class="form-group">
                        <label for="logo">Logo:</label>
                        <div class="file-upload">
                            <span>Subir archivo .png o .jpg o .jpeg</span>
                            <label for="logo_file">Subir</label>
                            <input type="file" id="logo_file" name="logo">
                        </div>
                    </div>
                </div>

                <div class="button-group">
                    <button type="button" class="cancelar">Cancelar</button>
                    <button type="submit" class="aceptar">Aceptar</button>
                </div>
            </form>
        </div> {% endcomment %}
        <!--Footer-->
        <footer>
            <div class="container_footer">
                <div class="logo-titulo_footer">
                    <img class="imagen_footer" src="{% static 'img/GreenWebSinFondo.png' %}" alt="Logo GreenWeb">
                    <h2>GreenWeb</h2>
                </div>

                <div class="datos_footer">
                    <div class="nombres">
                        <p>
                            Espinoza Guillermo. <br>
                            Caviedes Estrada Joaquin. <br>
                            Cirione Erik. <br>
                            Maidana Alejo.
                        </p>
                    </div>
                    <div class="mails">
                        <a href="mailto:guilleespinozagonz@gmail.com" class="mail"> guilleespinozagonz@gmail.com</a> <br>
                        <a href="mailto:joaquincaviedes3@gmail.com" class="mail"> joaquincaviedes3@gmail.com</a> <br>
                        <a href="mailto:erikcirione@gmail.com" class="mail"> erikcirione@gmail.com</a> <br>
                        <a href="mailto:alejomaidana29@gmail.com" class="mail"> alejomaidana29@gmail.com</a>
                    </div>
                    <div class="whatsapp">
                        <img src="{% static 'img/whatsapp.png' %}" alt="whatsapp" class="logo_wsp"> +54 383 4627731 <br>
                        <img src="{% static 'img/whatsapp.png' %}" alt="whatsapp" class="logo_wsp"> +54 383 4238214 <br>
                        <img src="{% static 'img/whatsapp.png' %}" alt="whatsapp" class="logo_wsp"> +54 383 5513938 <br>
                        <img src="{% static 'img/whatsapp.png' %}" alt="whatsapp" class="logo_wsp"> +54 383 4390834 <br>
                    </div>
                    <div class="instagrams">
                        <a href="https://www.instagram.com/guilleespinoza_/">
                            <img src="{% static 'img/instagram.png' %}" alt="ig" class="logo_wsp">
                        </a> <br>
                        <a href="https://www.instagram.com/joaquincaviedes_es/">
                            <img src="{% static 'img/instagram.png' %}" alt="ig" class="logo_wsp">
                        </a> <br>
                        <a href="https://www.instagram.com/erik.cirione/">
                            <img src="{% static 'img/instagram.png' %}" alt="ig" class="logo_wsp">
                        </a> <br>
                        <a href="https://www.instagram.com/alejomaidana.ok/">
                            <img src="{% static 'img/instagram.png' %}" alt="ig" class="logo_wsp">
                        </a>
                    </div>
                </div>
            </div>

            <div class="copyright">
                <small>Todos los derechos reservados &copy; 2025 GreenWeb - Proyecto IoT y Ciencia de Datos</small>
            </div>
        </footer>
    </div>
</body>
</html>
